body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  color: #2b2b2b;
  margin-bottom: 20px;
}

.form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.form-search {
  height: 20px;
  width: 40%;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  font-size: 1rem;
  resize: none;
  outline: none;
  transition: border-color 0.3s ease;
}

.form-search:focus {
  border-color: #007BFF;
}

.button-search {
  background-color: #007BFF;
  color: #fff;
  font-size: 1rem;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.2s ease;
}

.button-search:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

img {
  width: 400px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

img:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}